@import "bootstrap-button-default.scss";
@import "accordion.scss";

nav .current {
  font-weight: bold;
}

.banner {
  margin: 20px, auto, 20px, auto;
	text-align: center;
}

h1 {
  margin-top: 50px;
}

.align-right {
  float: right;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
};

.btn {
  background: rgb(189, 188, 188);
  font-weight: 500;
  font-size: 1rem;
  border-radius: 4px;
  margin: 20px 0;
  min-width: 80px;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);

  &:hover, &:active {
    background: lightgrey;
    transition-duration: 0.1s;
  }
}

.hidden {
  display: none;
}
