@import "bootstrap-button-default.scss";

nav .current {
  font-weight: bold;
}

.banner {
  margin: 20px, auto, 20px, auto;
	text-align: center;
}

h1 {
  margin-top: 50px;
}

.align-right {
  float: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
};

.btn {
  background: #ffc107;
}

.minute {
  background: #f8f9fa;
  border-style: solid;
  border-radius: 8px;
  padding: 30px;
  position: relative;
  margin-top: 40px;

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    opacity: 50%;
  }

  .close:hover {
    opacity: 100%;
  }

  h3 {
    margin-right: 25px;
  }
}
