---
clerks:
  name: "Peg Bernstein"
  email: clerks@flgbtqc.org
treasurer:
  name: "Su Penn"
  email: treasurer@flgbtqc.org
  address: "FLGBTQC<br>c/o Su Penn<br>4396 Okemos Rd. Apt 103<br>Okemos, MI 48864"
newsletter_editor:
  name: "Su Penn"
  email: newsletter_editor@flgbtqc.org
email_list_manager:
  name: "Rebecca Sullivan"
  email: email_list_manager@flgbtqc.org
website_manager:
  name: "Mike Goren"
  email: website@flgbtqc.org
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {%- include navigation.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

  </body>

</html>
